.book-details {
  display: flex;
  justify-content: center;
}

.book-cover {
  width: 200px;
  margin-right: 20px;
}

.book-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}